<body class="bg-gray-100">
    <header class="bg-gray-900 text-white p-4">
      <h1 class="text-3xl font-bold text-center">IPL 2024</h1>
    </header>
  
    <main class="container mx-auto p-4">
      <section class="my-8">
        <div class="flex flex-wrap justify-center">
          <div class="w-full sm:w-1/2 md:w-1/3 p-4">
            <div class="bg-white rounded-lg shadow-md overflow-hidden transform transition hover:scale-105 duration-300">
              <img src="assets/Images/KKR.jpg" alt="IPL Team 1" class="w-full h-full object-cover">
              <div class="p-4">
                <h2 class="text-2xl font-bold mb-2">Qualified 1</h2>
                <p class="text-gray-700">The Kolkata Knight Riders (KKR) have qualified for the playoffs in the IPL 2024 season. They secured their spot after defeating the Mumbai Indians (MI) on May 11, making them the first team to reach the playoffs this season.</p>
              </div>
            </div>
          </div>
          <div class="w-full sm:w-1/2 md:w-1/3 p-4">
            <div class="bg-white rounded-lg shadow-md overflow-hidden transform transition hover:scale-105 duration-300">
              <img src="assets/Images/SRH.jpg" alt="IPL Team 2" class="w-full h-full object-cover">
              <div class="p-4">
                <h2 class="text-2xl font-bold mb-2">Qualified 2</h2>
                <p class="text-gray-700">Sunrisers Hyderabad (SRH) has qualified for the IPL 2024 playoffs. Along with SRH, the other teams that have secured a spot in the playoffs are Kolkata Knight RidersR), Rajasthan Royals (RR), and Royal Challengers Bangalore (RCB)​.</p>
              </div>
            </div>
          </div>
          <div class="w-full sm:w-1/2 md:w-1/3 p-4">
            <div class="bg-white rounded-lg shadow-md overflow-hidden transform transition hover:scale-105 duration-300">
              <img src="assets/Images/RR.jpg" alt="IPL Team 3" class="w-full h-full object-cover">
              <div class="p-4">
                <h2 class="text-2xl font-bold mb-2">Qualified 3</h2>
                <p class="text-gray-700">The Rajasthan Royals (RR) have officially qualified for the IPL 2024 playoffs. They secured their spot following Delhi Capitals' victory over Lucknow Super Giants, ensuring that RR will finish in the top four regardless of the outcomes of their remaining matches​.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  
    <footer class="bg-blue-800 text-white p-4 text-center">
      <p>&copy; 2024 IPL. All rights reserved.</p>
    </footer>
  </body>
  